<app-navbar [years]="years" (selectionChange)="onDropdownSelectionChange($event)"/>
<div class="grid-container">
    <div class="grid-item">
        <app-associacio-chart [selectedYear]="selectedYear"></app-associacio-chart>
    </div>
    <div class="grid-item">
        <app-historic-chart (outputVariableChange)="handleOutputChange($event)"/>
    </div>
    <div class="grid-item">
        <app-filaes-cristianes-chart></app-filaes-cristianes-chart>
    </div>
    <div class="grid-item">
        <app-filaes-mores-chart></app-filaes-mores-chart>
    </div>
</div>
<router-outlet></router-outlet>